.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(185, 41%, 84%);
  font-family: "Space Mono", sans-serif;
  height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  /* margin-top: 200px; */
  margin: 50px;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.div {
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  width: 650px;
  overflow: hidden;
  padding: 20px 25px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 35px;
}
img {
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
.span-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 35px;
}
span {
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 41%, 97%);
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
}
.custom {
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  display: inline-block;
  text-align: center;
  font-size: 18px;
  justify-content: center;
  padding: 2px 0;
}
.box-2 {
  background-color: hsl(183, 100%, 15%);
  padding: 25px;
  max-width: 100%;
  border-radius: 15px;
}
input {
  width: 100%;
  border-radius: 4px;
  padding: 8px 0;
  text-align: end;
  font-size: 20px;
  font-family: "Space Mono", sans-serif;
  color: hsl(183, 100%, 15%);
  background-color: hsl(185, 41%, 84%);
  border-style: none;
}
input::placeholder {
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", sans-serif;
}
label {
  color: hsl(183, 100%, 15%);
  margin-bottom: 5px;
  display: inline-block;
}
.select {
  margin-top: 30px;
  margin-bottom: 10px;
}
.price {
  font-size: 30px;
  color: hsl(172, 67%, 45%);
}
h3 {
  font-size: 14px;
  color: hsl(185, 41%, 84%);
  margin-bottom: 5px;
}
p {
  font-size: 12px;
  color: hsl(185, 41%, 84%);
  opacity: 60%;
}
.amount,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
button {
  width: 100%;
  margin-top: 50px;
  padding: 8px 0;
  border-radius: 2px;
  border-style: none;
  background-color: hsl(186, 83%, 23%);
  color: hsl(183, 100%, 15%);
  display: inline-block;
}
.reset {
  margin-top: 50px;
}
button:hover {
  background-color: hsl(185, 89%, 67%);
  color: hsl(189, 41%, 97%);
  cursor: pointer;
}
i {
  position: absolute;
}
.fa-usd,
.fa-user {
  padding: 15px;
  min-width: 40px;
}
span:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(189, 41%, 97%);
  cursor: pointer;
}
@media (max-width: 420px) {
  .container {
    width: 80%;
    gap: 70px;
  }
  .div {
    grid-template-columns: 1fr;
    width: 290px;
    padding: 20px 30px;
    margin-right: 20px;
  }
  .span-1 {
    grid-template-columns: 1fr 1fr;
  }
}
